


  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/inicio"></ion-back-button>
      </ion-buttons>
      <ion-title> Geolocalizacion</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content >
    <ion-card style="text-align: center;">
      <img  src="/assets/geolocalizacion.jpg" />
      <ion-card-header>
        <ion-card-title>Latitud</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        {{lat}}
      </ion-card-content>
      <ion-card-header>
        <ion-card-title>Longitud</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        {{lon}}
      </ion-card-content>
      <ion-card-header>
        <ion-card-title>Distancia hasta mi trabajo</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        {{total}}
      </ion-card-content>
    </ion-card>
  </ion-content>








    
  
