
    ion-icon {
        font-size: 20px; 
    }

    ion-title{
        text-align: center;
        margin-right: 25px;
    }

    .diseño{
        border-radius: 20px;     
        min-height: 80vh;
        max-height: 80vh;
        overflow-y: inherit;        
    }

    .titulo{
        text-align: center;     
    }

    